.AppBar {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: var(--space-1) var(--space-3);
  background-color: var(--grayA-surface-2);
  border-bottom: 1px solid var(--gray-outline-2);
  background-clip: padding-box;
  backdrop-filter: blur(5px) saturate(150%);
}