.Callout {
  background-color: #FBFDFF;
  border-radius: 12px;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  border: 1px solid hsl(205 93% 88%);
  gap: var(--space-3);
  color: #0D74CE;
}