.Code {
  box-sizing: border-box;
  font-family: var(--ff-code);
  color: var(--gray-text-2);
  font-size: .93em;
  background-color: var(--gray-container-1);
  padding-right: var(--space-1);
  padding-bottom: 2px;
  padding-left: var(--space-1);
  white-space: break-spaces;
}